{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br />
Some software I developed with other amazing people

<div class="image-grid">
    {{ range sort .Data.Pages "Date" "desc" }}
    {{ if not .Params.draft }}
    <div class="post">
        <p>
        <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
        <h4>{{ $length := len .Params.authors }}
            {{ range $i, $sequence := .Params.authors }}
            {{ $sequence }}{{ if (le $i (add $length -2))}}, {{end}}
            {{ end }}</h4>
        <p>First release: {{ .PublishDate.Format "Jan. 2, 2006" }}</p>
        {{ with .Params.code }}
        // <a href="{{ . }}">code</a>
        {{ end }}
        {{ with .Params.documentation }}
        // <a href="{{ . }}">documentation</a>
        {{ end }}
        </p>
        </p>
        <p>{{ with .Params.description }}
            {{ . }}
            {{ end }}</p>
    </div>
    {{ end }}
    {{ end }}
</div>


{{ end }}