{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br />
A list of my publications by type

<h1>Journals</h1>
<div class="posts-list">
    {{ range sort .Data.Pages "Date" "desc" }}
    {{ if not .Params.draft }}
    {{ if (eq .Params.type "journal")}}
    <div class="post">
        <p>
        <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
        <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
        <h4>{{ $length := len .Params.authors }}
            {{ range $i, $sequence := .Params.authors }}
            {{ $sequence }}{{ if (le $i (add $length -2))}}, {{end}}
            {{ end }}</h4>
        <p>{{ .Params.publication }}</p>
        </p>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
</div>

<h1>Conferences and workshops</h1>
<div class="posts-list">
    {{ range sort .Data.Pages "Date" "desc" }}
    {{ if not .Params.draft }}
    {{ if (eq .Params.type "conference")}}
    <div class="post">
        <p>
        <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
        <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
        <h4>{{ $length := len .Params.authors }}
            {{ range $i, $sequence := .Params.authors }}
            {{ $sequence }}{{ if (le $i (add $length -2))}}, {{end}}
            {{ end }}</h4>
        <p>{{ .Params.publication }}</p>
        </p>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
</div>

<h1>Preprints</h1>
<div class="posts-list">
    {{ range sort .Data.Pages "Date" "desc" }}
    {{ if not .Params.draft }}
    {{ if (eq .Params.type "preprint")}}
    <div class="post">
        <p>
        <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
        <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
        <h4>{{ $length := len .Params.authors }}
            {{ range $i, $sequence := .Params.authors }}
            {{ $sequence }}{{ if (le $i (add $length -2))}}, {{end}}
            {{ end }}</h4>
        <p>{{ .Params.publication }}</p>
        </p>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
</div>

{{ end }}