{{ define "main" }}
<h1>{{ .Title }}</h1>
<h4>
    {{ $length := len .Params.authors }}
    {{ range $i, $sequence := .Params.authors }}
    {{ $sequence }}{{ if (le $i (add $length -2))}}, {{end}}
    {{ end }}
</h4>
<p>{{ .Params.publication }}, {{ .Params.year }}</p>

<p>{{ .Params.abstract }}</p>

{{ .PublishDate.Format "Jan. 2, 2006" }}

{{ with .Params.doi }}
// <a href="{{ . }}">doi</a>
{{ end }}
{{ with .Params.url_pdf }}
// <a href="{{ . }}">pdf</a>
{{ end }}
{{ with .Params.arxiv }}
// <a href="{{ . }}">arxiv</a>
{{ end }}
// <a href="biblio.bib ">bib</a>
{{ with .Params.code }}
// <a href="{{ . }}">code</a>
{{ end }}
<br /><br />
{{ .Content }}
{{ end }}